$grey: #CAD2D8;
$white: #FFFFFF;
$darkgrey: #4E6374;
$charcoal: #4D586B;
$background: #F2F2F2;
$blue: #398DE3;

$headerpadding: 24px;
$cardpadding: 16px;
$productpadding: 12px;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Medium.ttf');
}

